.city-image {
    width: 300px;
    padding: 10px;
}
body {
    background-image: url('../img/background.jpg');
}
label {
    font-size: 15px;
    font-weight: bold;
}
h1 {
    color: #A32408;
    font-size: 25px;
    font-weight: bold;
}
button[type=submit] {
    background: #A5C6F2;
    border-radius: 5px;
    padding: 10px 15px;
}
.navbar-inverse .navbar-nav > li > a {
    color: red;
    font-weight: bold;
    font-size: 17px;
}
#nature {
    width: 1500px;
    height: 300px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}
img {
    width: 630px;
    height: 420px;
    padding: 15px;
}
